beautifulsoup4==4.5.3
click==6.7
Flask==0.12.1
Flask-Session==0.3.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
passlib==1.7.1
post==0.0.0
public==0.0.0
pymongo==3.4.0
query-string==0.0.0
requests==2.13.0
setupfiles==0.0.0
Werkzeug==0.12.1
uswgi
